<li class="album">
  {{#link-to 'albums.show' this classNames="album"}}
    <img class='art' {{bind-attr src="art"}}>
    {{title}}
  {{/link-to}}
  {{#link-to 'artist' album.artist_name classNames="artist"}}
    {{artist_name}}
  {{/link-to}}
</li>
