<li class="album">
  {{#link-to 'albums.show' this classNames="album"}}
    <img class='art' {{bind-attr src="art"}}>
    <div class="play-button" {{action "playPause" firstTrack}}><img src="/assets/images/play_button.png"></div>
    {{title}}
  {{/link-to}}
  {{#link-to 'artist' album.artistSlug classNames="artist"}}
    {{artist_name}}
  {{/link-to}}
</li>
