.y-block {
  & > h3.header {
    color: white;
    cursor: pointer;
    background-color: $green;
    padding: 5px 5px 5px 10px;
    margin-bottom: 1px;
    text-transform: uppercase;
    .icon {
      float: right;
    }
  }
}