.y-block {
  & > h3.header {
    color: white;
    cursor: pointer;
    background-color: $green;
    padding: 5px 5px 5px 10px;
    margin-top: 1px;
    border-radius: 5px;
    text-transform: uppercase;
    .icon {
      float: right;
      color: white;
    }
  }
}

.y-block.expanded {
  & > h3.header {
    border-radius: 5px 5px 0px 0px;
  }
}
