.y-block {
  & > h3.header {
    color: white;
    cursor: pointer;
    padding: 5px 5px 5px 10px;
    margin-top: 1px;
    text-transform: uppercase;
    .icon {
      float: right;
      font-size: 1.7em;
      margin-top: -7px;
    }
  }
}

.y-block.expanded {
  & > h3.header {
  }
}
