a {
  color: $orange;
  text-decoration: none;

  &:hover {
    color: $dark-grey;
  }

  &:focus {
    outline: none;
  }
}

*, p, li, h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
  line-height: 1.5;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
}

/*Static page header*/
h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p, tr {
  color: $grey;
  font-size: .9em;
  padding: 5px 0px;
  margin:0;
  background-color: white;
}

hr {
  border:none;
  height: 2px;
  background-color: $lightest-grey;
}

table {
  width:100%;
  margin-bottom: 0;
  .ion-ios7-play, .ion-ios7-pause {
    font-size: 1.4em;
  }
}

table tr td {
  color:$grey;
  font-size: 1em;
}

tr.track{
  cursor: pointer;
  &:hover, &.playing {
    background-color: #e5f1dc;
  }
}

li {
  font-size: .9em;
}
