#header {
  @include grid-row();
}

#divider {
  margin-bottom: 1em;
  height: 2px;
  background-color: $light-grey;
}

#logo {
  @include grid-column(6);
  @media #{$small-only} {
    @include grid-column(12);
  }
}

#nav {
  @include grid-column(6);

  @media #{$small-only} {
    display: none;
  }
}


#logo {
  @media #{$small-only} {
    text-align: center;
    & .hamburger {
      font-size: 70px;
      float:left;
      padding-right:15px;
      vertical-align: middle;
    }
  }

  & img {
    max-width: 300px;
  }
  @media #{$medium-up} {
    .hamburger {
      display: none;
    }
  }
}

input#search {
  float: right;
  color: $dark-grey;
  width: 100%;
  font-size: .9em;
  padding: 5px 7px;
  margin-bottom: 7px;
  border:1px solid;
  border-color: $light-grey;
  background: none;
  border-radius: 5px;

  width: 300px;
  @media #{$small-only} {
    width: 100%;
  }



  &:focus {
    outline:none;
  }
}

.spyglass {
  float:right;
  clear:both;
  margin-top: -36px;
}

#nav > ul {
  padding-top: 10px;

  @include inline-list;
  float: right;
  text-transform:uppercase;
  font-family: $sans;
  color: $blue;
  margin-top: 20px;

  & a {
    padding: 5px;
    border-radius: 5px;
    color: $grey;
  }

  & a.active {
    color: white;
    background-color: $blue;
  }
}

#mobile-nav {
  @media #{$medium-up} {
    display: none;
  }

  background-color: $blue;
  overflow: hidden;
  margin: 0px auto;
  margin-bottom: 10px;
}

#mobile-nav > ul {
  @include inline-list;
  text-transform:uppercase;
  font-family: $sans;
  color: $blue;
  margin-top: 20px;

  & a {
    padding: 5px;
    border-radius: 5px;
    color: white;
  }

  & a.active {
    color: $grey;
    background-color: white;
  }
}
