// Variables
$header-height: 60px;

// Player
#player {
  width: auto;
  height: $header-height;
  background: white;
  font-weight: normal;
  font-size: 12px;

  .position {
    background-color: $grey;
    border-radius: 4px;
    width: 35%;
    float:right;

    & > div {
     background-color: $light-grey;
     width: 40%;
     height: 4px;
     border-radius: 4px;
    }
  }

  .album {
    margin-top: 10px;
  }

  .album img {
    float: left;
    margin-right: 15px;
  }

  .info {
    height: 40px;
  }

  img.art {
    height: 30px;
  }

  .third {
    float: left;
    width: 33%;
    height: $header-height;
  }
  .controls {
    font-size: 1.5em;
    color: $grey;
  }

}

#nav-bar-drop-shadow {
  box-shadow: 0 3px 3px -3px $grey;
  height: 7px;
  margin-bottom: 15px;
}


img#logo {
  height: 100px;
  float: left;
}

ul#nav{
  padding-top: 10px;

  @include inline-list;
  float: right;
  text-transform:uppercase;
  font-family: $sans;
  color: $blue;
  margin-top: 20px;

  & a {
    padding: 5px;
    border-radius: 5px;
    color: $grey;
  }

  & a.active {
    color: white;
    background-color: $blue;
  }
}

