#player {
  @include grid-row();

  font-weight: normal;
  font-size: 12px;

  .album {
    margin: 0 auto;
    padding-top:10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media #{$small-only} { display: none; }
  }

  .album-mobile {
    text-align: center;
    @media #{$medium-up} { display: none; }
  }

  .album img {
    float: left;
    padding: 0px 36px 0px 17px;
    margin-bottom: 10px;
  }

  .info {
    height: 40px;
  }

  img.art {
    height: 40px;
  }

  .previous-track {
    @include grid-column(4);
    @media #{$small-only} { display: none; }
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0.00, rgba(0,0,0,.6)), color-stop(0.35, rgba(0,0,0,.6)), color-stop(0.50, rgba(0,0,0,.2)), color-stop(0.75, rgba(0,0,0,.2)), color-stop(1.00, rgba(0,0,0,.2)));
  }
  .current-track {
    @include grid-column(4);
    @media #{$small-only} {
      @include grid-column(12);
    }
  }
  .next-track {
    @include grid-column(4);
    @media #{$small-only} { display: none; }
    -webkit-mask-image: -webkit-gradient(linear, right top, left top, color-stop(0.00, rgba(0,0,0,.6)), color-stop(0.35, rgba(0,0,0,.6)), color-stop(0.50, rgba(0,0,0,.2)), color-stop(0.75, rgba(0,0,0,.2)), color-stop(1.00, rgba(0,0,0,.2)));

  }
  .controls {
    font-size: 1.8em;
    color: $grey;
    z-index: 999;
    text-align: center;
  }
  .ion-ios7-rewind, .ion-ios7-play, .ion-ios7-fastforward, .ion-ios7-pause {
    cursor: pointer;
    display: inline-block;
    padding: 3px;
  }
  .position {
    display: inline-block;
    background-color: $grey;
    border-radius: 5px;
    width: 120px;
    margin-bottom: 6px;
    margin-left: 5px;

    & > div {
     background-color: $light-grey;
     width: 40%;
     height: 4px;
     border-radius: 4px;
    }
  }
}

#player-shadow {
  box-shadow: 0 3px 3px -3px $grey;
  height: 7px;
  margin-bottom: 15px;
}
