#player {
  @include grid-row();

  dislay:block;
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 10px;
  .album {
    margin: 0 auto;
    padding-top:10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .album-mobile {
    float:left;
    display:inline;
    padding-top:10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .title-mobile {
      float:left;
      margin-right: 7px;
    }
    .artist-mobile {
      float:left;
      font-weight: bold;
      margin-right: 7px;
    }
  }
  .album img {
    float: left;
    padding: 0px 36px 0px 17px;
    margin-bottom: 10px;
  }

  .info {
    height: 40px;
  }

  img.art {
    height: 40px;
  }

  .previous-track {
    @include grid-column(4);
    @media #{$small-only} { display: none; }
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0.00, rgba(0,0,0,.6)), color-stop(0.35, rgba(0,0,0,.6)), color-stop(0.50, rgba(0,0,0,.2)), color-stop(0.75, rgba(0,0,0,.2)), color-stop(1.00, rgba(0,0,0,.2)));
  }
  .current-track {
    @include grid-column(4);
    @media #{$small-only} { @include grid-column(12); }
  }
  .next-track {
    @include grid-column(4);
    @media #{$small-only} { display: none; }
    -webkit-mask-image: -webkit-gradient(linear, right top, left top, color-stop(0.00, rgba(0,0,0,.6)), color-stop(0.35, rgba(0,0,0,.6)), color-stop(0.50, rgba(0,0,0,.2)), color-stop(0.75, rgba(0,0,0,.2)), color-stop(1.00, rgba(0,0,0,.2)));

  }
  .controls {
    font-size: 1.8em;
    color: $grey;
    width: 80px;
    z-index: 999;
  }
  .ion-ios7-rewind, .ion-ios7-play, .ion-ios7-fastfoward, .ion-ios7-pause {
    padding: 0px 2px;
  }
  .position {
    background-color: $grey;
    border-radius: 4px;
    margin-top: -18px;
    width: 120px;
    margin-left: 95px;

    & > div {
     background-color: $light-grey;
     width: 40%;
     height: 4px;
     border-radius: 4px;
    }
  }
}

#player-shadow {
  box-shadow: 0 3px 3px -3px $grey;
  height: 7px;
  margin-bottom: 15px;
}