/* Put your CSS here */

@import "../../vendor/foundation/scss/normalize.scss";
@import "../../vendor/foundation/scss/foundation.scss";


img#logo {
  height: 100px;
  float: left;
}


#modal { 
  display:none; 
  z-index:40001;
}

ul#nav{
  @include inline-list;
  float: right;
}