/* Put your CSS here */

$h1-font-size: rem-calc(44);
$h2-font-size: rem-calc(37);
$h3-font-size: rem-calc(1);
$h4-font-size: rem-calc(1);
$h5-font-size: rem-calc(1);
$h6-font-size: 1rem;

@import "../../vendor/foundation/scss/normalize.scss";
@import "../../vendor/foundation/scss/foundation.scss";
@import "../../vendor/ionicons/scss/ionicons.scss";

@import "fonts";
@import "colors";
@import "header";
@import "components";

// Global

a {
  color:$orange;
}

a:hover {
  color:$dark-grey;
}

p {
  color:$grey;
}

.album {
  color: $orange;
}

.artist, .content-creator {
  color: $dark-grey;
  font-weight: bold;
}

.record-label {
  color: $grey;
}

.heading {
  color:$blue;
  text-transform: uppercase;
}

.subheading {
  color:$grey;
  text-transform: uppercase;
  font-size: .8rem;
}

.orange-icon {
  color:$orange;
  padding:6px;
}

.float-it-left {
  float:left;
}

.clearfix {
  clear:both;
}

// Catalog
#catalog {
  border-top: solid 2px $light-grey;
  padding-top: 20px;

  img.art {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.69);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.69);
    display:inline-block;
  }
}

// Modal
#modal { 
  display:none; 
  z-index:40001;
}


// Album Show

.album-info-block {
  margin-left: 185px;
}

table {
  width:100%;
}

tr.track{
  cursor: pointer;
}

#album {
  img.art {
    height: 170px;
    float:left;
  }
}