// Make sure the charset is set appropriately
@charset "UTF-8";

// Normalize the CSS
@import "../../vendor/foundation/scss/normalize.scss";

// Foundation Imports
@import "../../vendor/foundation/scss/foundation/components/block-grid";
@import "../../vendor/foundation/scss/foundation/components/grid";
@import "../../vendor/foundation/scss/foundation/components/inline-lists";
@import "../../vendor/foundation/scss/foundation/components/tables";
@import "../../vendor/foundation/scss/foundation/components/reveal";


// Foundation stuff not actually used
// @import
//   "../../vendor/foundation/scss/foundation/components/accordion",
//   "../../vendor/foundation/scss/foundation/components/alert-boxes",
//   "../../vendor/foundation/scss/foundation/components/block-grid",
//   "../../vendor/foundation/scss/foundation/components/breadcrumbs",
//   "../../vendor/foundation/scss/foundation/components/button-groups",
//   "../../vendor/foundation/scss/foundation/components/buttons",
//   "../../vendor/foundation/scss/foundation/components/clearing",
//   "../../vendor/foundation/scss/foundation/components/dropdown",
//   "../../vendor/foundation/scss/foundation/components/dropdown-buttons",
//   "../../vendor/foundation/scss/foundation/components/flex-video",
//   "../../vendor/foundation/scss/foundation/components/forms",
//   "../../vendor/foundation/scss/foundation/components/grid",
//   "../../vendor/foundation/scss/foundation/components/inline-lists",
//   "../../vendor/foundation/scss/foundation/components/joyride",
//   "../../vendor/foundation/scss/foundation/components/keystrokes",
//   "../../vendor/foundation/scss/foundation/components/labels",
//   "../../vendor/foundation/scss/foundation/components/magellan",
//   "../../vendor/foundation/scss/foundation/components/orbit",
//   "../../vendor/foundation/scss/foundation/components/pagination",
//   "../../vendor/foundation/scss/foundation/components/panels",
//   "../../vendor/foundation/scss/foundation/components/pricing-tables",
//   "../../vendor/foundation/scss/foundation/components/progress-bars",
//   "../../vendor/foundation/scss/foundation/components/side-nav",
//   "../../vendor/foundation/scss/foundation/components/split-buttons",
//   "../../vendor/foundation/scss/foundation/components/sub-nav",
//   "../../vendor/foundation/scss/foundation/components/switch",
//   "../../vendor/foundation/scss/foundation/components/tabs",
//   "../../vendor/foundation/scss/foundation/components/thumbs",
//   "../../vendor/foundation/scss/foundation/components/tooltips",
//   "../../vendor/foundation/scss/foundation/components/top-bar",
//   "../../vendor/foundation/scss/foundation/components/type",
//   "../../vendor/foundation/scss/foundation/components/offcanvas",
//   "../../vendor/foundation/scss/foundation/components/visibility";


@import "../../vendor/ionicons/scss/ionicons.scss";

@import "fonts";
@import "colors";
@import "global";
@import "header";
@import "footer";
@import "components";
@import "player";
@import "album/index";
@import "album/show";
@import "artist";

// Catalog
ul#catalog {
  @media #{$small-only} { @include block-grid(2); }
  @media #{$medium-only} { @include block-grid(3); }
  @media #{$large-up} { @include block-grid(5); }

  a.title {
    @include clearfix;
  }

  a.artist {
    @include clearfix;
  }
}


li.album {
  color: $orange;
  font-size: .9em;
}

h3 {
  color:$orange;
}

.artist {
  font-weight: bold;
  color:$dark-grey;
}

.record-label {
  color: $grey;
}

.heading {
  color:$blue;
  text-transform: uppercase;
}

.subheading {
  color:$grey;
  text-transform: uppercase;
  font-size: .8rem;
}

.orange-icon {
  color:$orange;
  padding:6px;
}

#content img.art {
  -webkit-box-shadow: 0px 0px 8px 2px $light-grey;
  -moz-box-shadow: 0px 0px 8px 2px $light-grey;
  box-shadow: 0px 0px 8px 2px $light-grey;
  margin-bottom: 4px;
  display:inline-block;
}


// Modal
#modal {
  display:none;
  z-index:40001;
}