<div class="row">
  <div class="small-12 columns">
    {{#if empty}}
      <p>No results found. Please try searching for something different</p>
    {{else}}
      <ul id='catalog'>
        {{#each album in filteredAlbums}}
          {{render 'list/album' album}}
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
