<div id="catalog">
  <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-5">
    {{#each}}
      <li class="album">
        {{#link-to 'albums.show' this classNames="album"}}
          <img class='art' {{bind-attr src="art"}}>
          {{title}}
        {{/link-to}}
        {{#link-to 'artist' album.main_artist classNames="artist clearfix"}}
          {{main_artist.name}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>