<div class="row">
  <div class="small-12 large-6 columns">
    {{#link-to 'index'}}<img id='logo' src="/assets/images/logo-horiz.png">{{/link-to}}
  </div>
  <div class="small-12 large-6 columns">
    <ul id='nav'>
      <li>{{#link-to 'index'}}Catalog{{/link-to}}</li>
      <li>{{#link-to 'collection'}}My Collection{{/link-to}}</li>
      <li>{{#link-to 'profile'}}Profile{{/link-to}}</li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
    {{outlet}}
  </div>
</div>


{{render 'modal'}}