<div id="artist">
  <div class='artist-header'>
    <img {{bind-attr src="banner_image"}}/>
    <h1 class='artist-name'>{{name}}</h1>
  </div>
  <div class='info'>
    {{#y-block title="Biography" expanded='true'}}
      {{bio}}
    {{/y-block}}
  </div>
</div>
