<div class="row">
  <div class="small-12 columns">
    <ul id='catalog'>
      {{#each album in content}}
        {{render 'list/album' album}}
      {{/each}}
    </ul>
    {{#if collectionEmpty}}
      <p>You don't have anything in your collection yet! Head over to the <a href="/">catalog</a> and add some albums</p>
    {{/if}}
</div>
</div>
