<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-5">
  {{#each album in albums}}
    <li>
      {{#link-to 'album' album}}
        <img class='album-art' {{bind-attr src="album.art"}} height="100">
        <h5>{{album.title}}</h5>
      {{/link-to}}
      {{#link-to 'artist' album.main_artist}}<h6>{{album.main_artist.name}}</h6>{{/link-to}}
    </li>
  {{/each}}
</ul>