<div class="small-12 large-4 medium-6 columns large-offset-2">
  {{input id='search' placeholder='SEARCH CATALOG' value=searchString}}
  <div class="spyglass"><img src="/assets/images/spyglass_grey.png"></div>
</div>
